* {
    box-sizing: border-box;
    text-align: center;
}

body{
    background: #777;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
}

div {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header, footer, nav {
    background: #ebebeb;
    width: 960px;
    margin: auto;
    margin-top: 10px;
    padding: 40px;
}

section, aside {
    background: #ebebeb;    
    padding: 10px;
    padding-top: 20px;
    float: left;
    margin-top: 15px;
    height: 300px;
}

section {
    margin-left: 320px;
    width: 495px;
    margin-bottom: 15px;    
}

aside {
    width: 28%;
    margin-left: 15px;
}

footer {
    clear: both;
    background: #ebebeb;
    width: 960px;
    margin: auto;
    margin-top: 10px;
}

article {
    background: #777;
    color: #ebebeb;
    height: 225px;
    padding: 15px;
    margin-top: 20px;
    width: 480px;
}

h1, p {
    background: #ebebeb;
    color: #777;
    margin: 10px;
    height: 75px;
    line-height: 75px;
}

